extends navigation

block main
    div.container
        p Posting as: #{fullname}
        form(method='POST' action='')
            div.form-group
                label message (max 400 characters)
                textarea(class="form-control" name="text")
            button.btn.btn-primary(type="submit") post
        
            
