extends navigation

block main
        if !user
                p.text-danger.text-center you must be a member to view usernames or timestamps
        if user && !user.membership
                p.text-danger.text-center you must be a member to view usernames or timestamps
        div.container#messageboard(class="d-flex flex-column")
                ul.container
                each message, index in messages
                        li.message.row
                                if user
                                        if user.membership
                                                div.col
                                                        a.messageauthor(href=message.author.url) #{message.author.full_name}
                                                        sans.messagetimestamp #{message.timestamp_formatted}
                                else
                                        p.messageauthor.col Member:
                                p.messagetext.col-12 #{message.text}
                                
                        
                
                
